[core]
    autocrlf = input
    safecrlf = warn
    ignorecase = true
    excludesfile = .gitignore
    whitespace = trailing-space,indent-with-non-tab
    trustctime = false
    fscache = true

[merge]
    tool = vscode
    ff = false
    conflictstyle = diff3

[diff]
    tool = vscode
    colorMoved = default
    colorMovedWS = ignore-all-space
    renames = copies
    algorithm = myers

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    undo = reset --soft HEAD~1
    amend = commit --amend --no-edit
    unstage = reset -q HEAD --
    wip = commit -m "WIP: Work in progress"
    uncommit = reset --soft HEAD~1
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    feat = commit -m "feat: "
    fix = commit -m "fix: "
    docs = commit -m "docs: "
    style = commit -m "style: "
    refactor = commit -m "refactor: "
    test = commit -m "test: "
    chore = commit -m "chore: "
    revert = commit -m "revert: "
    ci = commit -m "ci: "
    perf = commit -m "perf: "
    co-apply = checkout --patch
    diffstat = diff --stat
    unmerged = diff --name-only --diff-filter=U
    staged = diff --cached
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend
    amend-force = commit --amend --no-edit
    uncommit = reset --soft HEAD~1
    unstage = reset -q HEAD --
    wip = commit -m "WIP: Work in progress"
    uncommit = reset --soft HEAD~1
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    feat = commit -m "feat: "
    fix = commit -m "fix: "
    docs = commit -m "docs: "
    style = commit -m "style: "
    refactor = commit -m "refactor: "
    test = commit -m "test: "
    chore = commit -m "chore: "
    revert = commit -m "revert: "
    ci = commit -m "ci: "
    perf = commit -m "perf: "
    co-apply = checkout --patch
    diffstat = diff --stat
    unmerged = diff --name-only --diff-filter=U
    staged = diff --cached
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend
    amend-force = commit --amend --no-edit
    uncommit = reset --soft HEAD~1
    unstage = reset -q HEAD --
    wip = commit -m "WIP: Work in progress"
    uncommit = reset --soft HEAD~1
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    feat = commit -m "feat: "
    fix = commit -m "fix: "
    docs = commit -m "docs: "
    style = commit -m "style: "
    refactor = commit -m "refactor: "
    test = commit -m "test: "
    chore = commit -m "chore: "
    revert = commit -m "revert: "
    ci = commit -m "ci: "
    perf = commit -m "perf: "

[format]
    pretty = format:%C(yellow)%h%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset
    mailmap = true
    subjectprefix = "git"

[push]
    default = simple
    followTags = true

[branch]
    autosetuprebase = always
    autosetupmerge = true

[init]
    defaultBranch = main

[advice]
    statusHints = false
    pushUnqualifiedRefname = false
    addEmbeddedRepo = warn
    addIgnoredFile = warn
    addOutsideRepository = warn

[credential]
    helper = osxkeychain

[http]
    postBuffer = 524288000
    sslVerify = true
    proxy = 

[gc]
    auto = 256
    pruneexpire = "2 weeks ago"
    agressive = true

[help]
    autocorrect = 1

[user]
    name = Gitmohbility
    email = mohbility.pro@gmail.com

[log]
    decorate = auto
    abbrevCommit = true
    graph = true

[pack]
    deltaCacheSize = 128m
    threads = 4

[rebase]
    autosquash = true
    autostash = true

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = mohbility.pro@gmail.com
    smtpserverport = 587
    smtpauthentication = login

[status]
    showUntrackedFiles = all
    showStash = true

[tag]
    forceSignAnnotated = true

[gc]
    pruneexpire = "2 weeks ago"
    agressive = true

[credential]
    helper = osxkeychain

[http]
    postBuffer = 524288000
    sslVerify = true
    proxy = 

[gc]
    auto = 256
    pruneexpire = "2 weeks ago"
